.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.LandingBodyTrust {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 32px 24px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVQ2OgW0sJUdm9FnCRyGyVcJVkEYbJpLevgxeAueehoJyedvmz&s);
}

.LandingBodyJumbotron{
  padding: 5rem 1rem;
   background-repeat:
    no-repeat;
     background-size: cover;
      background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVQ2OgW0sJUdm9FnCRyGyVcJVkEYbJpLevgxeAueehoJyedvmz&s);
}
.fiftypercwidth{
  width:50%;
}
.dashnav1{
  background-color: #02112f;
}
.dashnav2{
  background-color: #02112f;
}
.dashnav3{
  margin-left: 140px; color: white;
}
